@page "/gestion"
@using System.ComponentModel
@using System.Reflection
@using System.Collections
@using ATI_Projet_Models.Types
@using ATI_Projet_Models.VCA

<div class=" d-flex justify-content-center">
    <div class="m-2 pb-2 container border" style="max-width: 56.5rem">
        <div class="my-2">
            <SelectList TItem="Type"
                        TValue="string"
                        Data="@Liste"
                        TextField="@(item => localizer[item.GetCustomAttribute<DisplayNameAttribute>().DisplayName])"
                        ValueField="@(item => item.Name)"
                        DefaulPersonnelText="Recherche"
                        SelectedValueChanged="@(e=>{
                                            SelectChange(e);
                                        })" />

            <Button Color="ButtonColor.Success" @onclick="OpenModalAdd">@localizer["Ajouter"]</Button>
        </div>

        <div class="w-100">
            @if (items != null)
            {
                switch (type)
                {
                    case "Fonction":
                        {
                            <ListGenericEdit TId=int TItem =Fonction Items="items.Cast<Fonction>()" ItemsPerPageForPagination=20 
                                EditEvent="OpenEdit<Fonction>" DeleteEvent="Delete<Fonction>"/>
                            break;
                        }
                    case "FonctionVCA":
                        {
                            <ListGenericEdit TId=int TItem=FonctionVCA Items="items.Cast<FonctionVCA>()" ItemsPerPageForPagination=20
                                             EditEvent="OpenEdit<FonctionVCA>" DeleteEvent="Delete<FonctionVCA>" />
                            break;
                        }
                    case "StatusVCA":
                        {
                            <ListGenericEdit TId=int TItem=StatusVCA Items="items.Cast<StatusVCA>()" ItemsPerPageForPagination=20 IdName="Code"
                                EditEvent="OpenEdit<StatusVCA>" DeleteEvent="Delete<StatusVCA>" />
                            break;
                        }
                    case "TypeContrat":
                        {
                            <ListGenericEdit TId=int TItem=TypeContrat Items="items.Cast<TypeContrat>()" ItemsPerPageForPagination=20 IdName="Code"
                                EditEvent="OpenEdit<TypeContrat>" DeleteEvent="Delete<TypeContrat>" />
                            break;
                        }
                    case "TypeMO":
                        {
                            <ListGenericEdit TId=string TItem=TypeMO Items="items.Cast<TypeMO>()" ItemsPerPageForPagination=20 IdName="Code"
                                EditEvent="OpenEdit<TypeMO>" DeleteEvent="Delete<TypeMO>" />
                            break;
                        }
                }
            }
        </div>


    </div>

</div>
@* <Modal @ref="modal" Size="ModalSize.Large"></Modal>
<ConfirmDialog @ref="dialog" /> *@