@page "/personnel/recherche"
@using Blazorise.Components

<h3>Search</h3>

<SelectList TItem="Personnel"
            TValue="int"
            Data="@Liste"
            TextField="@((item)=>item.Name)"
            ValueField="@(item=>item.Id)"
            DefaultItemText="Recherche"
            SelectedValueChanged="@(e=>SelectChange(e))"/>
@if(personne != null)
{
    <Perso Utilisateur="personne"></Perso>
    
}
<p>@Id</p>