
<EditForm class="position-relative" style="min-height: 8rem" Model="form" OnValidSubmit="Submit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="row my-2">
        <div class="col-2">
            <label>Titre</label>
            <InputSelect class="titre" @bind-Value="form.Titre">
                @foreach (string choix in ChoixTitre)
                {
                    if (ChoixTitre.IndexOf(choix) == 0)
                    {
                        <option selected="@choix" value="@choix">@choix</option>
                        form.Titre = choix;
                    }
                    else
                    {
                        <option value="@choix">@choix</option>
                    }

                }
            </InputSelect>
        </div>
        <div class="col-4 text-end">
            <label>Nom</label>
            <InputText @bind-Value="form.Nom"></InputText>
        </div>
        <div class="col-5 text-end">
            <label>Pr&eacute;nom</label>
            <InputText @bind-Value="form.Prenom"></InputText>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-end">
            <label>Langue</label>
            <InputText @bind-Value="form.Langue"></InputText>
        </div>
        <div class="col-5 text-end">
            <label>Nationalit&eacute;</label>
            <InputText @bind-Value="form.Nationalite"></InputText>
        </div>
    </div>
    <Button Class="position-absolute bottom-0 end-0 m-2" Type="ButtonType.Submit" Color="ButtonColor.Primary">Ajouter</Button>
</EditForm>
