@using Microsoft.Extensions.Localization
@using System.Globalization
@using ATI_Projet_Cultures.Locales
@inject IStringLocalizer<PersonnelResource> localizer

@typeparam TItem

<div class="edit position-relative">
    <EditForm Model="Item" OnValidSubmit="Submit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        @foreach (var p in Item.GetType().GetProperties())
        {
            string label = localizer[p.GetCustomAttribute<DisplayNameAttribute>() == null ? p.Name: p.GetCustomAttribute<DisplayNameAttribute>().DisplayName];
            var propValue = p.GetValue(Item);
            if (!ExcludedProp.Contains(p.Name))
            {
                <div class="row mb-2">
                    <label class="col-3 text-end">@label</label>
                    @switch (Type.GetTypeCode(p.PropertyType))
                    {
                        case TypeCode.String:
                            {
                                var value = propValue != null ? propValue.ToString() : "";
                                <InputText class="col-6" Value="@(localizer[value])" ValueExpression="@(() => value)"
                                           ValueChanged="@(x => Item.GetType().GetProperty(p.Name).SetValue(Item,x))"></InputText>
                                break;
                            }
                        case TypeCode.Int32:
                        case TypeCode.UInt32:
                        case TypeCode.Byte:
                        case TypeCode.SByte:
                        case TypeCode.Int16:
                        case TypeCode.UInt16:
                            {
                                var value = propValue != null ? Convert.ToInt32(propValue) : 0;
                                <InputNumber class="col-3" TValue="int" Value="@(value)" ValueExpression="@(() => value)"
                                             ValueChanged="@(x => Item.GetType().GetProperty(p.Name).SetValue(Item,Convert.ToInt32(x)))"></InputNumber>
                                break;
                            }
                        case TypeCode.Int64:
                        case TypeCode.UInt64:
                            {

                                var value = propValue != null ? Convert.ToInt64(propValue) : 0;
                                <InputNumber class="col-3" TValue="long" Value="@(value)" ValueExpression="@(() => value)"
                                             ValueChanged="@(x => Item.GetType().GetProperty(p.Name).SetValue(Item,Convert.ToInt64(x)))"></InputNumber>
                                break;

                            }
                        case TypeCode.Single:
                        case TypeCode.Double:
                            {
                                var value = propValue != null ? Convert.ToDouble(propValue) : 0;
                                <InputNumber class="col-4" TValue="double" Value="@(value)" ValueExpression="@(() => value)"
                                             ValueChanged="@(x => Item.GetType().GetProperty(p.Name).SetValue(Item,(double)x))"></InputNumber>
                                break;
                            }

                        case TypeCode.Decimal:
                            {
                                var value = propValue != null ? Convert.ToDecimal(propValue) : 0;
                                <InputNumber class="col-4" TValue="decimal" Value="@value" ValueExpression="@(() => value)"
                                             ValueChanged="@(x => Item.GetType().GetProperty(p.Name).SetValue(Item,(decimal)x))"></InputNumber>
                                break;
                            }
                        case TypeCode.DateTime:
                            {
                                var value = propValue != null ? Convert.ToDateTime(propValue) : DateTime.UtcNow;
                                <InputDate class="col-5" TValue="DateTime" Value="@value" ValueExpression="@(() => value)"
                                           ValueChanged="@(x => Item.GetType().GetProperty(p.Name).SetValue(Item,(DateTime)x))"></InputDate>
                                break;
                            }

                    }
                </div>

            }
        }
        <Button Type="ButtonType.Submit" Color="ButtonColor.Primary" Class="position-absolute bottom-0 end-0">Save</Button>
    </EditForm>


</div>