<div class="container">
    <h1 class="center">Fiche Perso :</h1>
    @if (!IsEditable)
    {
        <div class="fiche">
            <p>@Utilisateur.Titre @Utilisateur.Name</p>
            @if (!(Utilisateur.Email == ""))
            {
                <p>@Utilisateur.Email</p>
            }
            @if (!(Utilisateur.GSM == ""))
            {
                <p>@Utilisateur.GSM</p>
            }
            @if (!(Utilisateur.Fonction == ""))
            {
                <p>@Utilisateur.Fonction</p>
            }
        </div>
        <button class="btn btn-primary" @onclick="ChangeMode">Edit</button>
    }
    else
    {
        <div class="container d-inline-flex align-items-center flex-column">
            <EditForm class="container d-flex flex-column w-50" Model="Utilisateur" OnValidSubmit="EditUser">

                <DataAnnotationsValidator></DataAnnotationsValidator>

                <label>Titre</label>
                <InputSelect class="w-25" @bind-Value="Utilisateur.Titre" >
                @foreach (string choix in ChoixTitre)
                {
                    
                    <option value="@choix">@choix</option>
                }
                </InputSelect>
                <label>Nom</label>
                <InputText @bind-Value="Utilisateur.Name"></InputText>

                <label>Email</label>
                <InputText @bind-Value="Utilisateur.Email" type="email"></InputText>

                <label>GSM</label>
                <InputText @bind-Value="Utilisateur.GSM"></InputText>

                <label>Fonction</label>
                <InputText @bind-Value="Utilisateur.Fonction"></InputText>

                <ValidationSummary></ValidationSummary>

            </EditForm>
            <div class="m-2">
                <button type="submit" class="btn btn-primary ">Valider</button>
                <button class="btn btn-secondary" @onclick="ChangeMode">Retour</button>
            </div>

        </div>

    }
</div>
