@using Blazor.Flags
@using Microsoft.Extensions.Localization
@using System.Globalization
@using ATI_Projet_Cultures.Locales
@inject IStringLocalizer<PersonnelResource> localizer
@inject IJSRuntime JS

@if (connectedUser != null)
{
   <nav class="navbar navbar-expand-sm">
      <div class="container-fluid gap-3">
         <NavLink class="navbar-brand" href=""><img src="/images//ATI.png" width="30" height="24" class="d-inline-block align-text-top" alt="logo" />ATI Projets</NavLink>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="/images//ATI.png" width="30" height="24" class="d-inline-block align-text-top" alt="logo" />
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     @localizer["Personnel"].Value
                  </a>
                  <ul class="dropdown-menu">
                     <li><NavLink class="link dropdown-item" href="Personnel">@localizer["Liste"].Value</NavLink></li>
                     @*                             <li><NavLink class="link dropdown-item" href="EmployeProfil/recherche">Recherche</NavLink></li> *@
                  </ul>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     @localizer["Client"]
                  </a>
                  <ul class="dropdown-menu">
                     <li><NavLink class="link dropdown-item" href="Client">@localizer["Liste"].Value</NavLink></li>
                     @*                             <li><NavLink class="link dropdown-item" href="EmployeProfil/recherche">Recherche</NavLink></li> *@
                  </ul>
               </li>
               <li class="nav-item">
               <li><NavLink class="nav-link dropdown-toggle" href="gestion">@localizer["Gestion"]</NavLink></li>
               </li>
            </ul>
            <div class="d-flex gap-3 align-items-center">

               <NavLink class="link" href="@("Personnel/" + connectedUser.IdExterne)">@connectedUser.FirstName @connectedUser.LastName</NavLink>
               <InputSelect @bind-Value="culture">
                  <option value="fr-BE">FR @(browserName == "Firefox" ? "🇫🇷" : "")</option>
                  <option value="en-US">EN @(browserName == "Firefox" ? "🇺🇸" : "")</option>
               </InputSelect>
               <button class="btn btn-outline-danger" @onclick="Logout">@localizer["Se Déconnecter"]</button>
            </div>
         </div>
      </div>
   </nav>
}

@code {
   private string browserName;

   protected override async Task OnInitializedAsync()
   {
      // Appel de la fonction JavaScript pour obtenir le nom du navigateur
      browserName = await JS.InvokeAsync<string>("detectBrowser");
   }
}