@using ATI_Projet_Models
@using ATI_Projet_Models.Models.Societes.Clients
@using ATI_Projet_Tools.Tools
@using ATI_Projets_Models
@using Blazorise.Components
@using System.Globalization;
@using Microsoft.AspNetCore.Components.Web.Virtualization
@inject VariablesGlobales variables;

<div class="m-3 card">
   <div class="p-2">
      @if (Id >= 1)
      {
         @if (ClientInfo != null && departements != null && axesMarche != null)
         {
            <Card Class="">
               <CardHeader Class="d-flex gap-2 align-items-center">
                  <h4 class="my-0">@localizer["Client"]: </h4>
                  <div class="d-flex gap-1 align-items-center">
                     <InputNumber style="max-width: 5rem; text-align: center;" TValue="int" Value="Id" ValueExpression="() => Id" ValueChanged="@(x => SelectChange(x))"></InputNumber>
                     <h5 @onclick="ShowCanvas" class="my-0 mx-3 titleClient">@ClientInfo.Name</h5>
                     @if (ClientInfo.Actif)
                     {
                        <Badge Class="mx-1" Color="BadgeColor.Success">@localizer["Actif"]</Badge>
                     }

                     else
                     {
                        <Badge Class="mx-1" Color="BadgeColor.Danger">@localizer["Inactif"]</Badge>
                     }
                  </div>
                  @* <Button Color="ButtonColor.Success" @onclick="OpenModalCreate">@localizer["Ajouter"]</Button> *@
                  <Button Color="ButtonColor.Secondary" @onclick="GoBC14">BC14</Button>
               </CardHeader>
               <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                     <div>
                        @if (ClientInfo.Conges)
                        {
                           <Badge Class="mx-1" Color="BadgeColor.Success">@localizer["Spécial Congés"]</Badge>
                        }

                        else
                        {
                           <Badge Class="mx-1" Color="BadgeColor.Danger">@localizer["Non Spécial Congés"]</Badge>
                        }
                        @if (ClientInfo.Test)
                        {
                           <Badge Class="mx-1" Color="BadgeColor.Success">@localizer["Pour Test"]</Badge>
                        }

                        else
                        {
                           <Badge Class="mx-1" Color="BadgeColor.Danger">@localizer["No Test"]</Badge>
                        }

                        @if (ClientInfo.SansCRM)
                        {
                           <Badge Class="mx-1" Color="BadgeColor.Success">@localizer["Envoi Vers CRM"]</Badge>
                        }

                        else
                        {
                           <Badge Class="mx-1" Color="BadgeColor.Danger">@localizer["Pas d'Envoi vers CMR"]</Badge>
                        }
                        @if (ClientInfo.SuiviJournalier)
                        {
                           <Badge Class="mx-1" Color="BadgeColor.Success">@localizer["Suivi en Jour"]</Badge>
                        }

                        else
                        {
                           <Badge Class="mx-1" Color="BadgeColor.Danger">@localizer["Suivi non journalier"]</Badge>
                        }
                     </div>
                  </li>
                  <li class="list-group-item ">
                     <div class="">
                        <div class="col-4">
                           <div class="row">
                              <h6 class="col-4 my-0">@localizer["Axe de marché"]:</h6>
                              <p class="col-6">@(localizer[axesMarche.FirstOrDefault(am => am.Id == ClientInfo.AmId).Libelle])</p>
                           </div>

                        </div>
                        <div class="col-4">
                           <div class="row">
                              <h6 class="col-4 my-0">@localizer["Département"]:</h6>
                              <p class="col-6">@(departements.FirstOrDefault(d => d.Id == ClientInfo.DeptId).Designation)</p>
                           </div>
                        </div>
                     </div>

                  </li>
               </ul>
            </Card>

         }
      }
   </div>
   @{
      string title1 = localizer["Signalétique"];
      string title2 = localizer["Projets"];
      <Tabs  Class="m-2">
         <Tab Title="@title1">
            <Content>
               <div class="m-2">
                  <ClientSignaCpt client="ClientSigna" emails="emails" telephones="telephones"></ClientSignaCpt>
               </div>
            </Content>
         </Tab>
         <Tab Title="@title2">
            <Content>
               <div class="m-2">
                  <ATI_Projet_Components.Projets.Fiche ClientId="Id"></ATI_Projet_Components.Projets.Fiche>
               </div>
            </Content>
         </Tab>
      </Tabs>
}

</div>

@if (Liste != null)
{
   <Offcanvas @ref="offcanvas"
              Title="@localizer["Liste Des Clients"]"
              Size="OffcanvasSize.Regular"
              Placement="Placement.Start"
              IsScrollable="false">
      <BodyTemplate>
         <div style="height:500px; overflow-y: scroll" class="d-flex flex-column align-items-center">
            <Virtualize Items="@Liste">
               <p class="linkEntity" @onclick="@(() => SelectChange(context.Id))">
                  @context.Name
               </p>
            </Virtualize>
         </div>

      </BodyTemplate>
   </Offcanvas>
}

