@using Microsoft.Extensions.Localization
@using System.Globalization
@using ATI_Projet_Cultures.Locales
@inject IStringLocalizer<PersonnelResource> localizer

@if (Telephone != null)
{
    <EditForm class="container d-flex flex-column position-relative" Model="Telephone" OnValidSubmit="IsValided">

        <DataAnnotationsValidator></DataAnnotationsValidator>
        <label>Description: </label>
        <InputSelect class="w-50" @bind-Value="Telephone.Description">
            @if (!string.IsNullOrEmpty(Telephone.Description) && !descriptions.Contains(Telephone.Description))
            {
                <option value="@Telephone.Description" selected>@Telephone.Description</option>
            }
            @foreach (string choix in descriptions)
            {
                @if ((string.IsNullOrEmpty(Telephone.Description) && descriptions.IndexOf(choix) == 0) || (descriptions.Contains(Telephone.Description) && Telephone.Description == choix))
                {
                    <option value="@choix" selected>@choix</option>
                    @(Telephone.Description = choix)
                }
                else
                {
                    <option value="@choix">@choix</option>
                }

            }
        </InputSelect>
        <label>@localizer["Telephone"]: </label>
        <InputText class="w-75" @bind-Value="Telephone.Numero"></InputText>
        <Button Class="position-absolute bottom-0 end-0" Size="ButtonSize.Small" Type="ButtonType.Submit" Color="ButtonColor.Success">
            <Icon Name="IconName.CheckCircle"></Icon>
        </Button>

        <ValidationSummary></ValidationSummary>
    </EditForm>

}
