@using ATI_Projet_Models
@using ATI_Projet_Models.Types
@using ATI_Projet_Models.VCA

@if (fonctions != null && departements != null)
{

    <div class="d-flex position-relative border-end">
        <div class="cprofil p-2 m-1 ">
            <h4>@localizer["Profil"]:</h4>
            <h5>@EmployeProfil.Titre @EmployeProfil.Nom @EmployeProfil.Prenom (@EmployeProfil.Initiales)</h5>
         <p>@localizer["Entré le"] @(EmployeProfil.DateEntree.ToString("dd/MM/yyyy")) @if (!EmployeProfil.Actif)
            {
               <span>@localizer["a quitté l'entreprise le"]</span>
               <span>@EmployeProfil.DateSortie.ToString("dd/MM/yyyy")</span>
            } </p>
            <div class="mt-3">
                <div class="row g-2 ">
                    <span class="fw-semibold col-3 text-end">@localizer["Fonction VCA"]:</span>
                    <p class="col-4"> @(localizer[fonctionsVCA.FirstOrDefault(f => f.Id == EmployeProfil.IdFonctionVCA).Designation ?? "NONE"]) </p>
                    <span class="fw-semibold col-3 text-end">Gestion Stock:</span>
                    <p class="col"> @(localizer[Enum.GetName(typeof(GestionStock), EmployeProfil.GestionStock)])</p>
                </div>
                <div class="row g-2 ">
                    <span class="fw-semibold col-3 text-end">Status VCA:</span>
                    <p class="col-4"> @(localizer[statusVCA.FirstOrDefault(f => f.Code == EmployeProfil.CodeStatusVCA).Libelle ?? "NONE"])</p>
                    <span class="fw-semibold col-3 text-end">Group_S:</span>
                    <p class="col">@EmployeProfil.Group_S</p>
                </div>
                <div class="row g-2 ">
                    <span class="fw-semibold col-3 text-end">@localizer["Type Main d'oeuvre"]:</span>
                    @{
                        if (EmployeProfil.CodeTypeMO == null) EmployeProfil.CodeTypeMO = "";
                        string code = string.IsNullOrEmpty(EmployeProfil.CodeTypeMO.Trim()) ? "" : EmployeProfil.CodeTypeMO;
                        <p class="col-4"> @(localizer[TypesMO.FirstOrDefault(f => f.Code == code).Libelle ?? "NONE"])</p>
                    }
                    <span class="fw-semibold col-3 text-end">@localizer["Contrat de travail"]:</span>
                    <p class="col"> @(localizer[TypesContrat.FirstOrDefault(f => f.Code == EmployeProfil.CodeTypeContrat).Libelle ?? "NONE"])</p>

                </div>
            </div>
        </div>
        @*<button class="btn btn-primary position-absolute bottom-0 end-0 m-2" @onclick="ShowEditProfil">Edit</button>*@
    </div>
    <Modal @ref="modal" Size="ModalSize.ExtraLarge" />
}